@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", sans-serif;
}

.masthead {
    overflow: hidden;
    background-color: black;
}

.logo {
    height: 5rem;
    width: auto;
    margin: 1rem 1rem 1rem 2.5rem;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/skijumpbillboard.jpg);
    background-position: center center;
    background-size: 100rem 45rem;
    background-repeat: no-repeat;
}

h1 {
    margin: 5rem 0;
    background-color: rgba(255, 255, 255, .3);
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: -0.009rem;
    text-transform: uppercase;
    padding: 4rem 5%;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

body {
    margin: 0;
    padding: 0;
}
    
img {
	max-width: 100%;
	display: block;
}

article {
    margin: 0;
    padding: 2.5rem 3%;
    overflow: hidden;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
    font-size: 16px;
}

h2 {
    line-height: 5rem;
    margin: 1rem auto -1rem auto;
    font-size: 1.6rem;
}

h3 {
    margin: 1rem auto 1rem auto;
    font-size: 1.2rem;
}

.video {
	position: relative;
	padding-bottom: 56.5%;
	padding-top: 25px;
	height: 0;
}

.video iframe {
    border: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}






















