@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", sans-serif;
}

.masthead {
    overflow: hidden;
    background-color: black;
}

.logo {
    height: 5rem;
    width: auto;
    margin: .8rem;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/skijumpbillboard.jpg);
    background-position: center center;
    background-size: 100rem 45rem;
    background-repeat: no-repeat;
}

h1 {
    margin: 5rem 0;
    background-color: rgba(0, 255, 255, .2);
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: -0.009rem;
    text-transform: uppercase;
    padding: 4rem 5%;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

body {
    margin: 0;
    padding: 0;
}
    
img {
	max-width: 100%;
	display: block;
}























